body{
      margin: 0;
      padding: 0;

}
div{
  height: 100vh;
  background: #000;
}
h1{
  margin: 0;
  padding: 0;
  position: absolute;
  top:50%;
  transform: translateY(-50%);
  width:100%;
  text-align: center;
  color: #ddd;
  font-size: 5em;
  font-family: sans-serif;
  letter-spacing: 0.2em;
  animation: animate 1s linear forwards;
}
@keyframes animate {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }

}
/*
li a{
    display: block;
    color: white;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    top: 0;
}
li a:hover{
    background-color: #111;
}
body{
    background-color: white;
    margin: 0;
}
.img{
    width: 350px;
    height: 350px;
}
.bg-1{
    background-color: #E3E4DB;
    color: #ffffff;
    margin-top: 51px;
}
.name{
    color: #6E6F64;
    font-family: "Courier New";
    padding-top: 50px;
    padding-bottom: 50px;
}
footer{
    background: dimgrey;
    color: darkgrey;
}
.bg-2{
    background: black;
    color: grey;
}
.heading{
    color: white;
    font-family: "Courier New";
    padding-bottom: 10px;
    padding-top: 20px;
    text-align: center;
}
.info{
    font-size: medium;
    text-align: center;
}
.l{
    text-align: right;
} */
