html {
  scroll-behavior: smooth;
  scroll-padding-top: 100px;
  margin: 0;
  padding: 0;
}
body{
  min-height: 100vh;
  margin: 0;
  padding: 0;
  color: white;
  background-color: rgb(12, 15, 41);
  font-family: 'Space Mono', monospace;
  box-sizing: border-box;
}

p {
  color: rgb(148, 151, 175);
  text-align: center;
}

span {
  color: white;
}

h1 {
  text-align: center;
}

img {
  display: block;
  width: 30%;
  height: 20%;
  margin-left: auto;
  margin-right: auto; 
}

nav {
  position: sticky;
  top: 0;
}

nav ul 
{
  width: 100%;
  display: flex;
  justify-content: flex-end;
  box-sizing: border-box;
  padding: 20px;
}
    
ul li 
{
  list-style: none;
  margin-right: 20px;
  font-size: 18px;
  font-weight: bold;
}

a
{
  text-decoration: none;
  color: rgb(148, 151, 175);;
}
section {
  min-height: 100vh;
}

.logo {
  font-size: 40px;
  margin: 5%;
}
